<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
   
        <div class="register-login">
            <div class="edge">
    
            </div>
        
    
    
    
             <div class="register-section">
                 <h2>註冊</h2>
                 <a class="google" href="/auth/google">    
                    <img src="/icon/google-svgrepo-com.svg" alt="" class="google-icon">     
                    <span class="google-txt">使用Google註冊 </span>
                 </a>
    
                      <div class="or">
                          OR
                      </div>
    
    
                    <form action="" class="reg-form">
                        <input type="text" class="reg-username" name = "username" placeholder="用戶名稱" value="test" required>
                        <input type="email" class="reg-email" name = "email" placeholder="電郵" required value="test@test.com">
                        <input type="password" class="reg-password" name = "password" placeholder="密碼" required value="12345678">
                        <button class="reg-btn">
                            註冊
                        </button>
                    </form>
                         
                    
                    
<!--     
                    <button class="register-close-btn">
                        <img class="close-img " src="icon/close.svg" alt="">
                     </button> -->
    
    
                    <div class="reminder">
                        <span class="chill-txt">已經是Chiller了? 按這裡<span><a href="/login" class="login-switch">登入</a></span>吧</span>
                        <span class="chill-icon">
                            <img src="/icon/chillboy.svg" alt="">
                        </span> 
                    </div>
              </div>
    
    
    
    
         
    
    
    
    
    
    
    
    
    
    
           </div>

    
    
    
    
    
    
       <script src="/register/register.js"></script>
    
</body>
</html>