<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat room</title>
    <link rel="stylesheet" href="../css/chat.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>




    <div id="Modal" class="modal">

     
        <span class="close">&times;</span>

        <img class="modal-content">
        
     
      </div>



    <canvas id="canvas"></canvas>

    
    
   <div id="chat">
       <a class="exit" href="/">
           <img src="/icon/exit.svg" alt="" class="exit-img">
       </a>
       <h1 class="title"></h1>
       <div class="first-message"></div>
       <div id="chat__window">
           <div class="trigger"></div>
           <div id="chat__message">
           
               
           </div>
       

          
       </div>
          

         
            <div class="chat-list is_none">
                <h3 class="onlineList">在線成員:</h3>
                <ul class="memberList">
                
                </ul>
            </div>




                  

            <div class="send-info-section">
                <div id="feedback"></div>

                
                <div class="send">
                    <% if (user) { %>
                        <span class="closePre is_none" >&times;</span>
                        <div class="preview-container">
                            
                        </div>
                     
                        <input type="text" name="message" id="message" autofocus>
                
                        <label for="inpFile">
                            <img src="/icon/camara.svg" class="camara" alt="">
                        </label>
                        <input type="file" multiple class="file"  accept="image/png, image/jpeg" id="inpFile" >
       

                    <% }  else { %>
                        <input type="text" name="message" id="message" disabled placeholder="請登入聊天吧">
                
                    <% } %>
                </div>
                <div class="btn-switch">
                
                    <input type="radio" name="chat" id="chat_msg" checked="checked">
                    <label for="chat_msg" class="chat-label">
                         <img class="chat-img"  src="/icon/chat.svg" alt="">
                    </label>
                
                    <input type="radio" name="chat" id="chat_user">
                    <label for="chat_user" class="user-label">
                        <img class="user-img"  src="/icon/user.svg" alt="">
                        <span class="green-light"></span>
                    </label>
                
                
                
                
                </div>
            </div>




      
   </div>





    <audio src="/sound/sound.mp3" controls style="display: none;" id="audio"></audio>





   <script src="/socket.io/socket.io.js" ></script>
   <script src="../chat/socket.js" type="module"></script>
   <script src="../chat/index.js" type="module" ></script>

</body>
</html>