<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="register-login">
        
        <div class="edge">
    
        </div>
        
        <div class="login-section">
      
        <h2>登入</h2>
        <a class="google" href="/auth/google">
           <img src="/icon/google-svgrepo-com.svg" alt="" class="google-icon">     
           <span class="google-txt">使用Google登入 </span>
        </a>

             <div class="or">
                 OR
             </div>


           <form action="#" class="login-form" >
               <input type="email" class="login-email" placeholder="電郵" name="email" value="test@test.com">

               <input type="password" class="login-password" placeholder="密碼" name="password" value="12345678">

               <button class="continue">
                   登入
               </button>
           </form>
                
           
           

           <!-- <button class="login-close-btn">
               <img class="close-img " src="icon/close.svg" alt="">
            </button> -->


           <div class="reminder">
               <span class="chill-txt">還不是Chiller? 按這裡<span><a href="/register" class="register-switch">註冊</a></span>吧</span>
               <span class="chill-icon">
                   <img src="/icon/chillboy.svg" alt="">
               </span> 
           </div>
      </div>
</div>
    
    
      <script src="/login/login.js"></script>
</body>
</html>