*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;

}


body{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
  
}


#chat{
    
    width: 450px;
    height: 100vh;
    background-color: rgb(40, 45, 78);
    padding: 30px;
    position: fixed;
    top: 0;
    right: 0;

  

}

#chat h3{
    color: #fff;
}
#chat__window{
    height: calc(90% - 145px);
   
    overflow-x: hidden;

}



/* .send::before{
    content: '';
    width: 350px;
    position: absolute;
    top: -20px;
    left: 0;
    height: 1px;
    background-color: #ddd;
} */

.send{

    font-size: 0;
    position: relative;
 


  
}

#message{
   width: 85%;
   height: 50px;

   font-size: 18px;
   border: 2px solid rgba(202,216,255,.6);
   background: transparent;

   border-radius: 10px;
   padding-left: 15px;
   
   color: #fff;

}





#send__btn{
    height: 40px;
    width: 60px;
    font-size: 18px;
    border: 0;
    background: transparent;
    border-width: 0px;
    position: absolute;
    top: 5px;
    right: 50px;

}

#send__btn img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  
}

#message:focus{
    outline: 0;
    border: 2px solid #cad8ff;
}


.info_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 3px;
   
}

.user_info{
    font-size: 18px;
    color: #cad8ff;
    margin-right: 10px;
}

.user_time{
    font-size: 10px;
    color: #cad8ff;
}

.user_msg{
    color: #fff;
    word-break: break-all;
    width:350px;
    
}

.msg_block{
    margin: 15px 0;
    position: relative;
}


/* .msg_block::after{
    content: '';
    margin-top: 5px;
    display: block;
    width: 90%;
    height: 1px;
    background-color: #aaa;
} */

.title{
    width: 330px;
    word-break: break-all;
    color: #fff;
}

.first-message .msg_block::after{
    content: '';
    position: absolute;

    left: 0;
    bottom: -20px;
    width: 90%;
    height: 1px;
    background-color: #aaa;
    margin-bottom: 10px;
   
}


.first-message > .msg_block > .info_block .user_info{
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
}


.first-message > .msg_block >  p{
   
    font-size: 22px;
 
}

.join_block{
    padding: 10px 0;
    font-size: 12px;
    position: relative;
}

.join_block > .user_info,.join_block > .user_time {
    font-size: 12px;
    color: #999;
}

.join_block::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 1px;
    background-color: #aaa;
}


#canvas{
    border: 1px solid #999;
    align-self: center;

    background-image: url('/canvas/garden.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-switch{
    margin-top: 20px;
    width: 90%;
    
}




.btn-switch input[type="radio"]{
    display: none;
} 




.chat-label{
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 12%;
    background-color: rgb(40, 45, 78);
    border-radius: 5px;
    transition: .3s;

}


.user-label{
    width: 85px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 18%;
    background-color: rgb(40, 45, 78);
    border-radius: 5px;
    transition: .3s;
}


.chat-img, .user-img{
  width: 35px;
  height: 35px;
    object-fit: cover;
 
}


input[type="radio"]:checked + label{
    filter: brightness(3);
}





#feedback{
    color: #65C7F7;
}

.file{
    display: none;
}

.camara{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    transform: translateY(10px);
}


.exit{
    position: absolute;
    top: 35px;
    right: 35px;
    width: 40px;
    height: 40px;
    border: none;
}

.exit-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.green-light{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
    background-color: rgb(6, 214, 160);
}


.history::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #aaa;
    vertical-align: middle;
    margin-right: 10px;

}

.history::after{
    content: '';
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #aaa;
    vertical-align: middle;
    margin-left: 10px;
    

}
.history{
    color: #fff;
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 10px;
 
   
}

.is_none{
    display: none;
}

.chat-list{
    height: 89.4%;
    padding-top: 50px;
}

.onlineList{
    color: #fff;

}

.memberList > li{
    margin: 12px 0px;
    color: #fff;
}

.online{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: rgb(6, 214, 160);
}
.send-info-section{
    position: fixed;
    width: 400px;
    bottom: 10px;
    right: 15px;
}