*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;

}


.header{
    width: 1200px;
    margin: auto;
}

.header__container{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    display: block;
    height: 80px;
    width: 80px;
}

.logo__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.search-label{
    position: relative;
    display: block;
    width: 200px;
 

}

.search-label::after{
    content: '';
    position: absolute;
    background: url('/icon/search-svgrepo-com.svg') no-repeat center center ;
    top: 0px;
    left: 10px;
    bottom: 0;
    width: 30px;
}



.search-input{

    background-color: #ddd;
    border-radius: 15px;
    height: 40px;
    font-size: 22px;
    padding-left: 50px;
    border: none;
}


.search-input:focus{
    outline: none;
    border:2px solid #2980B9 ;
}

.login-signup .btn{
    width: 120px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;

    
}

.signup_btn{
    color: #333;
    font-weight: 700;
   
}

.login_btn:hover,.signup_btn:hover{
    filter: brightness(.9);
}



.login_btn{
   margin-right: 10px;
   color: #fff;
   font-weight: 700;
   background-color: #4286f4;
}

.main{
    width: 1200px;
    margin: auto;
}
.main__container{
    margin-top: 60px;
    display: flex;
}


.sidebar{
    width: 400px;
}
.create_btn{
    width: 220px;
    height: 45px;
    background-color: #4286f4;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}


.create_btn:hover{
    filter: brightness(.9);
}


.main-option{
    position: relative;
    margin-bottom: 100px;
}
.main-option li{
    display: flex;
    margin: 30px 0;
}



.main-option li .pic {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.main-option li .pic img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.main-option li .txt{
    font-size: 18px;
}


.radio__input{
    display: none;
}

.allchat__label, .follow__label{
    margin: 25px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
    transition: .1s;
    
}

.chat, .following{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.radio__input:checked + .radio__label{
    color: #4286f4;  

}

.main-option::after{
    content: '';
    left: 0;
    bottom: -50px;
    right: 0;
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: #ddd;


}

.cat_label{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.category{
    margin-top: 50px;
}

.cat__circle{
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

.cat_name{
    transition: .1s;
    font-weight: 700;
    cursor: pointer;
}

.cat_radio:checked ~ .cat_name{
    color: #4286f4;  

}


.full-screen, .post-full-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen .register-login{
  
    width: 800px;
    height: 600px;
    background-color: #fff;
    position: relative;
  
}

.register-close-btn, .login-close-btn{
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.register-login{
    display: flex;
}

.close-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.register-login .edge{
    height: 100%;
    width: 150px;
    background: linear-gradient(#2980b9,#6dd5fa, #ffffff);
}

.register-login .register-section, .register-login .login-section{
   margin: 80px 0 0 30px;
}

.register-login .register-section h2, .register-login .login-section h2 {
    margin-bottom: 40px;
}


.google{
    width: 250px;
    height: 38px;
    border: 1px solid #666;
    border-radius: 20px;
    background-color: #fff;
    text-align: left;
    padding-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}


.google:hover{
    background-color: #65C7F7;
    border-color: #65C7F7;
    color: #fff;

}

.google-icon{
    margin-right: 20px;
}

.google-txt{
    font-size: 16.5px;
}

.or{
    margin: 25px 0;
    text-align: center;
    color: #666;
    position: relative;
}

.or::before{
    content: '';
    position: absolute;
    width: 40%;
    height: 1px;
    top: 10px;
    left: 0;
    background-color: #ddd;
}


.or::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 1px;
    top: 10px;
    right: 0;
    background-color: #ddd;
}

.login-email, .login-password, .reg-email, .reg-username, .reg-password{
    display: block;
    margin: 15px 0;
    width: 250px;
    height: 38px;
    padding-left: 10px;
}




.login-email:focus, .login-password:focus, .reg-email:focus, .reg-username:focus, .reg-password:focus {
    border: none;
    outline: 2px solid #65C7F7 ;
}

.reg-btn, .continue{
    margin-top: 25px;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #0082c8;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.is_none{
    display: none;
}

.reminder{
    margin-top: 30px;
    width: 240px;
    display: flex;
    align-items: center;
}
.chill-icon{
    width: 30px;
    height: 30px;
    margin-left: 3px;
}

.chill-txt{
    font-size: 15px;
}

.chill-icon>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-switch, .register-switch{
    display: inline-block;
    margin: 0 2px;
    text-decoration: none;
    font-weight: 700;
    color: #0082c8;
    transition: .2s;

}

.login-switch:hover, .register-switch:hover{
    color: #fa0;
}

.welcomeMsg{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,.7);
    border-radius: 10px;
    background-color: #fff;
}

.welcomePic{
    width: 130px;
    height: 130px;
  
}

.welcomePic > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcomeTxt{
  
    font-size: 24px;
    font-weight: 700;
}

.post .beginPost{
    display: flex;
    flex-direction: column;
  
 

}


.post{

    width: 600px;
    height: 420px;
    background-color: #fff;
    display: block;
    position: relative;
    padding: 30px;
    
}


.post__select{
    height: 40px;
    padding-left: 20px;
    margin-bottom: 10px;

}
.post__input{
    padding-left: 20px;
    height: 50px;
    margin-bottom: 10px;
}
.post__text{
    padding: 20px;
    margin-bottom: 20px;
}


.form-close{
    position: absolute;
    width: 25px;
    height: 25px;
    top: -20px;
    right: -20px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background-color: #fff;
    
}
.form-close img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.post .create{
    width: 100px;
    height: 50px;

}
.button-block{
    width: 100%;
    display: flex;
    justify-content: center;
}

.thread__title{
    margin-bottom: 10px;
    width: 300px;
}


.thread-section{
    flex-grow: 1;
}

.thread{
    display: flex;
    outline: 1px solid #cad8ff;
    justify-content: flex-start;
    height: 100px;
    align-items: center;
    border-radius: 15px;
    margin-top: 50px;
    position: relative;
    transition: .3s;
    background-color: #fff;
    
}

.thread .link{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    

}


.thread:hover{
   filter: brightness(.9);

}



.thread__author, .thread__details{
    margin-left: 30px;
}


.thread__cat{
    padding: 2px 5px;
    vertical-align: middle;
    /* border: 1px solid #333; */
    position: absolute;
    top: -12px;
    right: 50px;
    z-index: 20;
    background-color: #fff;
    display: flex;
    align-items: center;

}

.cat-circle{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}

.error-message{
    text-align: center;
    color: red;
}

.logout_btn:hover{
    filter: brightness(.9);
}

.trigger{
    position: absolute;
    bottom: 0;
    left: 0;
 
   
}