
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}


.login-section{
    padding: 100px;
 
}

.register-close-btn, .login-close-btn{
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.register-login{
    display: flex;

    box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, .3);
}

.close-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.edge{
  
    width: 150px;
    background: linear-gradient(#2980b9,#6dd5fa, #ffffff);
}

/* .login-section{
   margin: 80px 0 0 30px;
} */

.login-section h2 {
    margin-bottom: 40px;

}


.google{
    width: 250px;
    height: 38px;
    border: 1px solid #666;
    border-radius: 20px;
    background-color: #fff;
    text-align: left;
    padding-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}

.google:visited{
    color: inherit;
}

.google:hover{
    background-color: #65C7F7;
    border-color: #65C7F7;
    color: #fff;

}

.google-icon{
    margin-right: 20px;
}

.google-txt{
    font-size: 16.5px;
}

.or{
    margin: 25px 0;
    text-align: center;
    color: #666;
    position: relative;
}

.or::before{
    content: '';
    position: absolute;
    width: 40%;
    height: 1px;
    top: 10px;
    left: 0;
    background-color: #ddd;
}


.or::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 1px;
    top: 10px;
    right: 0;
    background-color: #ddd;
}

.login-email, .login-password, .reg-email, .reg-username, .reg-password{
    display: block;
    margin: 15px 0;
    width: 250px;
    height: 38px;
    padding-left: 10px;
}




.login-email:focus, .login-password:focus, .reg-email:focus, .reg-username:focus, .reg-password:focus {
    border: none;
    outline: 2px solid #65C7F7 ;
}

.reg-btn, .continue{
    margin-top: 25px;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #0082c8;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.is_none{
    display: none;
}

.reminder{
    margin-top: 30px;
    width: 240px;
    display: flex;
    align-items: center;
}
.chill-icon{
    width: 30px;
    height: 30px;
    margin-left: 3px;
}

.chill-txt{
    font-size: 15px;
}

.chill-icon>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-switch, .register-switch{
    display: inline-block;
    margin: 0 2px;
    text-decoration: none;
    font-weight: 700;
    color: #0082c8;
    transition: .2s;

}

.login-switch:hover, .register-switch:hover{
    color: #fa0;
}